name: Caddy-custom

on:
  push:
    paths:
      - network/caddy-custom/dockerfile
      - .github/workflows/caddy-custom.yml
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

env:
  CADDY_VER: 2.10.2
  MOD_CF: 0.2.2
  MOD_DOCKER_PROXY: 2.10.0

jobs:
  caddy-custom:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Fetch repo
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image and publish
        uses: docker/build-push-action@v6
        with:
          context: network/caddy-custom
          file: network/caddy-custom/dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: resripper/caddy-custom:${{ env.CADDY_VER }}, resripper/caddy-custom:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            CADDY_VER=${{ env.CADDY_VER }}
